# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.venv-download/

# Environment files
.env

# IDE
.vscode/
.idea/

# Logs
*.log
build.log

# Runtime storage
app/storage/jobs/*
!app/storage/jobs/.gitkeep

# Downloaded model weights
models/huggingface/*
models/ip_adapter_faceid/*
models/insightface/*

!models/huggingface/.gitkeep
!models/ip_adapter_faceid/.gitkeep
!models/insightface/.gitkeep

models/*
!models/.gitkeep

# OS
.DS_Store
Thumbs.db